@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.gradient-text {
  background: linear-gradient(to right, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  color: transparent;
}
.nav-link {
  cursor: pointer;
}

.nav-link:hover,
.active {
  background: linear-gradient(to right, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

.dark {
  color: #001931;
}

.gray {
  color: #627382;
}
